* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: 1px solid red;*/
}

:root {
  --black: #1A1D3E;
  --blue: #303461;
  --gray: #6C6E8C;
  --purple: #9F62ED;
  --lightblue: #3AAEF8;
}

body {
  background: var(--blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 360px;
  height: 800px;
}
#display {
  height: 30%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: flex-end;
  padding: 0 5px;
  background: linear-gradient(180deg, #3AAEF8, #9F62ED);
}

#displayNums {
  font-size: 3.5rem;
  color: white;
  font-weight: 900;
  font-family: sans-serif;
  background: transparent;
  border: none;
}

#keyboard {
  height: 70%;
  width: 100%;
  overflow: hidden;
  background: var(--black);
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

button {
  background: transparent;
  color: white;
  border: none;
  padding: 1rem 36px;
  margin: 0px 2px;
  font-size: 20px;
  border-radius: 10px;
}


button:nth-child(2) {
  color: var(--lightblue);
  font-weight: 900;
}

button:nth-child(3) {
  color: var(--lightblue);
  font-weight: 900;
}

button:nth-child(4n) {
  color: var(--lightblue);
  font-weight: 900;
}

button:hover {
  animation: clickEffect 0.5s;
}

button:nth-child(2):hover, button:nth-child(3):hover {
  animation: clickEffect2 0.5s;
}

button:nth-child(4n):hover {
  animation: clickEffect2 0.5s;
}



@keyframes clickEffect {
  50% {background: var(--lightblue)}
  100% {background: transparent};
}

@keyframes clickEffect2 {
  50% {background: var(--purple)}
  100% {background: transparent};
}

@media screen and (min-width: 370px) {
  #calculator {
    border: 1px solid var(--lightblue);
    box-shadow: 1px 1px 5rem 1rem lightblue;
    border-radius: 2rem;
    overflow: hidden;
  }
}
